/* ------------------------------------------------------------------- 
 * ## MailtoUI style overrides
 * ------------------------------------------------------------------- */
.mailtoui-modal {
    --mailtoui-modal-head-bgcolor: var(--color-gray-18);
    --mailtoui-modal-head-title-color: white;
    --mailtoui-modal-body-bgcolor: var(--color-gray-14);
    --mailtoui-button-bgcolor: var(--color-gray-16);
    --mailtoui-button-text-color: white;
    --mailtoui-button-bgcolor-hover: var(--color-2);
    --mailtoui-button-text-color-hover: white;
    --mailtoui-button-text-size: 16px;
    --mailtoui-email-address-bgcolor: var(--color-gray-10);
    --mailtoui-email-address-text-color: white;
    font-family: var(--font-1);
    background-color: #151515;
    color: white;
}

.mailtoui-modal-content {
    background-color: var(--mailtoui-modal-body-bgcolor);
    border-radius: var(--border-radius);
}

.mailtoui-modal-content button {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.mailtoui-modal-head {
    background-color: var(--mailtoui-modal-head-bgcolor);
}

.mailtoui-modal-title {
    font-family: var(--font-1);
    font-weight: 400;
    font-size: 16px;
    color: var(--mailtoui-modal-head-title-color);
}

.mailtoui-modal-close {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    font-size: 32px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
}

.mailtoui-modal-close:hover, .mailtoui-modal-close:focus {
    color: white;
    font-weight: 300;
}

.mailtoui-modal-body {
    background-color: var(--mailtoui-modal-body-bgcolor);
}

.mailtoui-button-text {
    font-size: var(--mailtoui-button-text-size);
    text-transform: none;
    letter-spacing: 0;
}

.mailtoui-button:focus .mailtoui-button-content {
    background-color: var(--color-2);
    color: white;
}

.mailtoui-button-content, .mailtoui-button-copy {
    background-color: var(--mailtoui-button-bgcolor);
    color: var(--mailtoui-button-text-color);
    border-radius: var(--border-radius);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.mailtoui-button-content:hover, 
.mailtoui-button-content:focus, 
.mailtoui-button-copy:hover, 
.mailtoui-button-copy:focus {
    background-color: var(--mailtoui-button-bgcolor-hover);
    color: var(--mailtoui-button-text-color-hover);
}

.mailtoui-copy {
    border-radius: var(--border-radius);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.mailtoui-button-icon-copy {
    line-height: var(--vspace-1);
}

.mailtoui-button-copy-clicked, 
.mailtoui-button-copy-clicked:hover, 
.mailtoui-button-copy-clicked:focus {
    background-color: #1F9D55;
    color: white;
}

.mailtoui-email-address {
    background-color: var(--mailtoui-email-address-bgcolor);
    color: var(--mailtoui-email-address-text-color);
    font-size: 16px;
    line-height: 1;
    border-radius: var(--border-radius);
}

.mailtoui-brand a {
    color: rgba(255, 255, 255, 0.4);
}

.mailtoui-brand a:hover, .mailtoui-brand a:focus {
    font-weight: 400;
    color: white;
}